  <nav class="navbar bg-dark navbar-expand-lg "   data-bs-theme="#e3f2fd">
    <img src="https://static.sketchfab.com/img/press/logos/sketchfab-logo-black.png" alt="Logo" style="margin-left: 10px; width:40px; ">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <div class="navbar-nav">
    <button style="border: 2rem; font-size: larger; color: aliceblue;" routerLinkActive="active current" class="nav-item nav-link"  [routerLink]="['',1]"> Popular Movies  </button>
   
   </div>

    </div>
</nav>

<div class = "not found " >
  <img src="https://static.sketchfab.com/img/press/logos/sketchfab-logo-black.png" >
<h1>  No Movie Match your search  </h1>
</div>